/*
textarea:focus, input:focus {
    outline: none;
}
*/

.myinput {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}


.table tr:hover {
    background-color: darkgrey;
    cursor: pointer;
}